.sortear-card {
    max-width: 100%;
    justify-content: center;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

mat-toolbar-row {
  justify-content: center;
}

mat-card-header {
  justify-content: center;
}

mat-card-content {
  
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.content {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;

}

mat-card-actions {
  justify-content: center;
}

.sortear-card-content {
  justify-content: center;
}